@model IEnumerable<Bio.Models.Viewing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SeatsLeftSortParm"]">@Html.DisplayNameFor(model => model.SeatsLeft)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]">@Html.DisplayNameFor(model => model.Time)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditorium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.SeatsLeft < 1)
            {
                <tr style="color:white; background-color:darkred">
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatsLeft)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auditorium.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatsLeft)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auditorium.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                        <a asp-action="Book" asp-route-id="@item.ID">Book</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
